<nav class="navbar navbar-expand-sm fixed-top navbar-transparent" [ngClass]="{'navbar-inverse': isScrolled}">
  <a class="navbar-brand" routerLink="/home"><i class="fas fa-film"></i> TMDB MOVIES</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto pr-5 mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/top_rated">Top rated</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/popular">Popular</a>
      </li>

      <div class="dropdown">
        <a
          class="btn dropdown-toggle text-white"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-cog" style="cursor: pointer"></i>
      </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Admin</a>
          <a class="dropdown-item">User</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/">Logout</a>
        </div>
      </div>

      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-info-circle"></i></a>
      </li>
    </ul>
  </div>
</nav>
